<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @train.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @train.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @train.end_time %>
</p>

<p>
  <strong>Start station:</strong>
  <%= @train.start_station_id %>
</p>

<p>
  <strong>End station:</strong>
  <%= @train.end_station_id %>
</p>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
